:root {
  --primaryColor: firebrick;
  --secondaryColor: goldenRod;
}
#sucess-wrapper{
  position:absolute;
  /* inset:auto auto;   */
  display: grid;
  transform:scale(0);
  place-items: center;
  height:100%;
  width:100vw;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.774);
}
#sucess-wrapper .box{
  position: relative;
  border-radius: 0.6rem;
  width:min(25em,70%);
  aspect-ratio: 3/1;
  color:var(--secondaryColor);
  background-color: var(--primaryColor);
  display:grid;
  place-items: center;
  z-index: 10;
}
.error-top-wrapper{
    position: absolute;
    display: none;
    inset:0 auto;
    top:1em;
    height:6em;
    width:max-content;
    padding:1em;
    background-color: black;
    z-index: 10;
    transform:scale(0);
    border-radius: 0.5rem;
}
.error-top-wrapper .close-btn{
    position: absolute;
    top:0;
    right:0;
    background-color: gray;
    border-radius: 50%;
    aspect-ratio: 1;
    transform: translate(50%,-50%);
}
.error-top-wrapper .close-btn .span #fa{
    position: relative;
    height: 60%;
}
.error-top-wrapper .error-text{
    display: grid;
    place-items: center;
    position: relative;
    height: 100%;
    color:var(--secondaryColor);

}
.show{
    display: grid;
    height:6em;
    animation:popop 3s ease forwards;
}
.visibleSuccess{
    display:grid;
    place-items:center;
    animation: successpop 0.1s ease forwards;
}
@keyframes successpop {
    to{
        transform:scale(1);
    }
}
@keyframes popop {
    0%{        
        transform: scale(0) translateY(-50%);
    }
   20%, 70%{
        
        transform: scale(1) translateY(50%);
    }
    71%{
        opacity:1;
    }
    100%{
        opacity:0;
        transform:translateY(-50%);
    }
}